body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-bottom: 0px;
  margin-top: 0px;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board {
  display: flex;
  flex-direction: column;
  background-color: #888;
  padding: 1rem;
  grid-gap: 1rem;
  color: #444;
}
.board-row {
  display: flex;
  grid-gap: 1rem;
}
.board-space {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDD;
  font-size: 5rem;
}
.board-space:not(.used):not(.finished):hover {
  background-color: #EEE;
  cursor: pointer;
}
.used {
  cursor: default;
}
.winner {
  background-color: orange;
}
button {
  font-size: 2rem;
}